

#tabla-cabecera  th ,td{

font-size: 10px;

}


#tabla-detalle  th ,td{

font-size: 10px;

}

#tabla-comentario  th ,td{

font-size: 10px;

}

span  {



font-size: 20px;

}


th.cabeceralistados {
height: 24px;
line-height: 24px;
color: navy;
background-color: #99ccff;
text-align: center;
vertical-align: middle;
}